.vision-container {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
  }
  
  .vision-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    margin-bottom: 20px;
    color: yellow;
  }
  
  .vision-image {
    align-items: center;
    width: 100%;
    max-width: 90vw;
    max-height: 400px;
    padding: 9px;
    border: 7px solid whitesmoke;
  }
  
  