/* src/BudgetPlanner.css */

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #d6e5ea;
  align-content: center;
  font-family: 'Arial', sans-serif;
  color: white;
  
}


label{
  color: white;
}
.bcontainer {
  flex: 1;
  width: 80%;
  max-width: 600px; /* Adjust as needed */
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px; /* Adjust the margin based on your navbar height */
  margin-bottom: 20px; /* Adjust the margin based on your footer height */
  align-content: center;
  margin-left: 27%;
}

.budget-form label {
  display: block;
  margin-bottom: 8px;
}

.budget-form select,
.budget-form input {
  width: 100%;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.budget-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.budget-form button:hover {
  background-color: #45a049;
}

.budget-list {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; /* Adjust the margin based on your footer height */
}

.budget-list h2 {
  margin-bottom: 10px;
}

.budget-list ul {
  list-style: none;
  padding: 0;
}

.budget-list li {
  border-bottom: 1px solid #555;
  padding: 10px 0;
}

.footer {
  background-color: #333; /* Replace with your desired footer color */
  padding: 10px;
  text-align: center;
}
option{
  color: black;
}
