.dashboard {
  margin: auto;
  width: 50%;
}

.container {
  padding: 20px;
  border: 1px solid #ccc;
  width: 80%; /* Adjust the width here */
  margin-left: 7%;
}

.actions {
  text-align: center;
}

.action-form {
  margin-top: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #222;
  color: #fff;
}

img {
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: auto; /* Maintain aspect ratio */
}
