.totale {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 100px); /* Adjust as needed for the navbar and footer heights */
  background-color: #89c3d7;
  padding: 20px 20px 80px 20px;
}
.exp-img {
  flex: 1;
  padding: 20px;
}

.exp-img img {
  max-width: 100%;
  height: auto;
  width: 800px;
}
.backe {
    display: flex;
    flex:1;
    margin-top: 100px;
  }
  .conte {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 20px 40px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.242);
  background-color: transparent;
  margin-bottom: 20px;
}
 button {
    background-color: #3498db; /* Blue button color */
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #2ecc71
  }
  .balance {
    font-size: 1.5em; /* Slightly larger font size */
    font-weight: bold;
    margin-bottom: 15px; /* Increased margin */
  }
   .inpu {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
  }
  
  .labe {
    display: block;
    margin-bottom: 2px;
    color: #ffffff;
  }
  
  .inpu[type="radio"] {
    margin-right: 5px;
  }
  
